h1 {
    color: darkblue;
}

.repo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    height: 75vh;
    overflow: scroll;
}

.repo-li {
    list-style-type: none;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    padding-top: 30px;
}

.repo-li a {
    color: darkblue;
}

.repo-li p {
    font-size: 15px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    cursor: default;
}

input {
    margin: 10px;
    width: 225px;
    padding: 8px;
}

button {
    background-color: #fff;
    border: 2px solid darkblue;
    height: 30px;
    border-radius: 5px;
    transition: ease-in-out .25s;
} 

button:hover {
    background-color: lightblue;
}